<div class="body-section">
    <div class="blockquote">
        “I want to help you heal and move through conflict safely.”
    </div>

    <img src="assets/img/profile1.jpg" alt="Profile Photo" class="img-profile img-fluid">

    <h4>Are we a good fit?</h4>
    <p>
        You don't believe there can be two captains on one ship. Your father modeled what being on top in a relationship
        looks like and you hadn't considered any alternatives. You find yourself yelling and leaving your partner
        feeling demeaned and degraded as opposed to cherished and respected. You want to take back control of your life
        but you're finding it difficult to control your own thoughts, emotions, and behavior.
    </p>
    <p>
        Emotional distress. Regret. Shame. Don't wait until something bad happens. Serious pain and distress to your
        partner. Legal intervention. Court Cost and fees. Probation and parole terms. Labeling.
    </p>
    <p>
        If this sounds like your situation, we could be a good fit.
    </p>


    <h4>My Approach:</h4>
    <p>
        My approach includes Cognitive Behavioral (CBT), Motivational Interviewing, Person-Centered, Psychodynamic,
        Solution Focused Brief (SFBT), Strength-Based, Behavior Modification Techniques and more.
    </p>

    <h4>Training and Education:</h4>
    <ul>
        <p>
            <li>
                University of Detroit Mercy Bachelor of Science, Criminal Justice Studies (Psychology Minor) 2008
            </li>
            <li>
                University of Phoenix Master of Science, Counseling (Mental Health Specialty) 2012
            </li>

            <li>Certified Duluth Model Batterer Intervention Facilitator 2019</li>
        </p>
    </ul>

    <h4>Contact Me:</h4>
    <p>
        To contact me or determine if we could be a good fit, please complete the form below.<br>
        Connect With Me: &nbsp; &nbsp;
        <a href="https://www.facebook.com/LoveWithMeRT/" target="_blank">
            <i class="fa-brands fa-facebook-square"></i>
        </a> &nbsp; &nbsp;
        <a href="https://www.instagram.com/lovewithmellc/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a> &nbsp; &nbsp;
        <a href="https://www.tiktok.com/@lovewithmellc" target="_blank">
            <i class="fa-brands fa-tiktok"></i>
        </a><br>
        Online Services Only<br>
        Phone: <a href="tel:5864828352">586-482-8352</a><br>
        <a href="mailto:info@lovewithmellc.com">info@LoveWithMeLLC.com</a>
    </p>

</div>