@use "../../shared/global-variables.scss";

.blockquote {
  text-align: center;
  font-style: italic;
}

.img-profile {
  float: right;
  max-height: 800px;
  width: auto;
  margin-left: 15px;
  margin-bottom: 15px;
}
