@import "../global-variables.scss";

.navbar {
    background-color: $primary-color;
    height: 64px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: $secondary-color;
    font-weight: 500;
}

.navbar-collapse {
    background: white;
}

@media (max-width: 500px) {
    .brandName {
        font-size: 0%;
    }
}