<div class="body-section">
    <div class="container-fluid">
        <img src="assets/img/love-with-me-logo-hero.png" alt="Love With Me Relationship Training"
            class="img-hero img-fluid">
    </div>

    <img src="assets/img/headshot1.jpeg" alt="Headshot" class="img-headshot img-fluid">

    <p>
        Behavior Modification and Therapeutic Services for Men who struggle creating safe, respectful, and mutually
        satisfying
        relationships with women.
    </p>

    <p>
        Replace Limiting Beliefs with Empowering Truths.
        Make better decisions and gain peace of mind.
        Develop empathy and cultivate a culture of equality.
    </p>

    <p>
        Equipping men with evidence-based practices to heal in the realm of relationships.
        I help men develop strategic plans to foster an environment of fairness.
    </p>

    <p>
        I use a variety of behavior modification techniques and therapeutic approaches to help my clients learn, heal,
        and
        connect with themselves and the people around them.
    </p>

    <p>
        If your partner tells you that you have anger issues and you're wondering if she's right.
        If you're worried, you're losing your family and yourself.
        If you're having a hard time staying positive and resolving issues.
        If you're emotional pain is leading your decision-making.
        If you're struggling finding a practical approach to heated situations.
        If you're finding it difficult responding to your partner in a mature way when you disagree with her.
    </p>

    <p>
        I'm here to help you take responsibility, put space between toxic tendencies, and thrive in your relationships.
    </p>

    <p>
        I'm Diamond Jenkins and I'm a Licensed Professional Counselor that specializes in helping men accepting
        accountability
        for their behavior, healing themselves and accommodating their partners desires in mutually satisfying and safe
        ways.
    </p>

</div>