@import "../../shared/global-variables.scss";

.img-hero {
    max-height: 225px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-headshot {
    float: right;
    max-height: 400px;
    width: auto;
    margin-left: 15px;
    margin-bottom: 15px;
}