<div class="body-content">
    <div class="intro">
        <p>Diamond Jenkins, Relationship Trainer, Group Facilitator, & Licensed Therapist</p>
        <h4>*** Behavior modification & therapeutic services for men who struggle creating safe, respectful, and
            mutually satisfying relationships with women. ***
        </h4>
    </div>


    <!-- <div class="headshotSection">
        <img src="assets/img/headshot1.jpeg" alt="Headshot" class="img-headshot img-fluid">
        <div class="test">
            <ul>
                <li>Replace Limiting Beliefs with Empowering Truths.</li>
                <li>Make better decisions and gain peace of mind.</li>
                <li>Develop empathy and cultivate a culture of equality.</li>
            </ul>

            <ul>
                <li>Take responsibility.</li>
                <li>Toss toxic dependencies.</li>
                <li>Thrive in your relationship.</li>
            </ul>
        </div>
    </div> -->

    <div class="headshotSection">
        <div class="row">
            <div class="col">
                <img src="assets/img/headshot1.jpeg" alt="Headshot" class="img-headshot img-fluid">
            </div>
            <div class="col">

                <div class="row">
                    <ul>
                        <li>Replace Limiting Beliefs with Empowering Truths.</li>
                        <li>Make better decisions and gain peace of mind.</li>
                        <li>Develop empathy and cultivate a culture of equality.</li>
                    </ul>
                </div>
                <br>
                <div class="row">

                    <ul>
                        <li>Take responsibility.</li>
                        <li>Toss toxic dependencies.</li>
                        <li>Thrive in your relationship.</li>
                    </ul>
                </div>
                <!-- </h5> -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <img src="assets/img/love-with-me-logo-hero.png" alt="Love With Me Relationship Training"
            class="img-hero img-fluid">
    </div>


    <p class="intro">
        <strong>*** Equipping men with evidence-based practices to heal in the realm of relationships.
            ***</strong>
    </p>

    <p>
        I help men develop strategic plans to foster an environment of fairness.
    </p>

    <p>
        I use a variety of behavior modification techniques and therapeutic approaches to help my clients learn, heal,
        and
        connect with themselves and the people around them.
    </p>

    <div class="container-fluid side-profile-section">
        <div class="row">
            <div class="col">
                <ul>
                    <li>If your partner tells you that you have anger issues and you're wondering if she's right.</li>
                    <li>If you're worried, you're losing your family and yourself.</li>
                    <li>If you're having a hard time staying positive and resolving issues.</li>
                    <li>If your emotional pain is leading your decision-making.</li>
                    <li>If you're struggling finding a practical approach to heated situations.</li>
                    <li>If you're finding it difficult responding to your partner in a mature way when you disagree with
                        her.
                    </li>
                </ul>
            </div>
            <div class="col">
                <img src="assets/img/profile2.jpg" alt="Diamond Jenkins Side Profile" class="side-profile img-fluid"
                    style="max-width: 500px;">
            </div>
        </div>
    </div>


    <!-- <img src="assets/img/profile1.jpg" alt="Diamond Jenkins Front Profile" class="front-profile img-fluid"
        style="max-width: 400px;"> -->

    <div class="video-section">
        <div class="row">
            <div class="col center">
                <iframe width="451" height="801" src="https://www.youtube.com/embed/2ilYWKXyf9c"
                    title="I have a special set of skills…" frameborder="0" class="video"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md">
                <p>
                    I'm Diamond Jenkins and I'm a Licensed Professional Counselor that specializes in helping men with
                    accepting accountability for their behavior, healing themselves, and accomodating their partners'
                    desires in mutually satisfying and safe ways.
                </p>

                <p>
                    Complete the <a href="/match-questionnaire">Match Questionnaire</a> to assist me with determining if
                    we are
                    a
                    good fit.
                </p>

                <p>
                    Check out my approach, training, and education to learn more <a href="/about">About Me</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="body-section">
        <h2 style="clear: both;">Testimonials</h2>

        <figure>
            <blockquote>
                <ol>
                    <li>
                        What obstacle or fear would have kept you from hiring me?
                        <ul>
                            <li>
                                I know you have a lot of different projects going on so my fear would be your work
                                longevity with ABR to pursue other
                                projects.
                            </li>
                        </ul>
                    </li>
                    <li>
                        What specifically did you like most about my approach or how I worked with the clients?
                        <ul>
                            <li>
                                I liked how Diamond's approach gave clients a chance to easily build a rapport and be
                                open and honest.
                            </li>
                        </ul>
                    </li>
                    <li>
                        What other benefits did you notice as a result of clients working with me?
                        <ul>
                            <li>
                                I also noticed clients were able to make positive changes in their life as a result of
                                working with Diamond.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Would you recommend me to other men in need of therapy?
                        <ul>
                            <li>
                                Yes.
                            </li>
                        </ul>
                    </li>
                </ol>
                <figcaption>&mdash;Michelle Cantea, President, Advanced Behavioral Rehabilitation</figcaption>
            </blockquote>
        </figure>

        <hr>

        <figure>
            <blockquote>
                <p>Diamond Jenkins completed her training as a domestic violence facilitator for Advanced Behavioral
                    Rehabilitation and I was able to watch as she conducted her first couple of classes. I worked with
                    Ms.
                    Jenkins for a few weeks and also took over a few of her classes many months later when she needed a
                    substitute to teach the class and her clients from her group gave their unsolicited reviews of how
                    much
                    they were learning from her class. From the beginning Ms. Jenkins was motivated to do a great job
                    and
                    had plenty of ideas on how to gain the groups attention to keep them involved in the course
                    material.
                    She came with a great deal of knowledge on how to teach a domestic violence class and presented new
                    material in a way that captured their attention. She was always able to manage the group and
                    provided
                    positive feedback as they were learning new skills. In summary, Diamond was truly a great coworker
                    and I
                    am grateful that I had the pleasure to work and learn from her.</p>
                <figcaption>&mdash;Catherine A. Zoss, M.A., L.P.C., CAADC</figcaption>
            </blockquote>
        </figure>

        <hr>

        <figure>
            <blockquote>
                <p>Diamond is truly a Diamond! Her holistic and straightforward approach to healing is phenomenal. I
                    have
                    worked side by side with Diamond for over 10 years. I have worked with her in stressful and
                    complicated
                    situations that required high levels of empathy and understanding for which she met every one with
                    grace
                    and ease. I have an enduring respect for both her work ethic and ambition.</p>
                <figcaption>&mdash;Bobbie Benton, Civil Mediator</figcaption>
            </blockquote>
        </figure>
    </div>
</div>