<div class="body-section">
  <h1>Frequently Asked Questions</h1> <br>

  <dl>
    <dt>Where are you located?</dt>
    <dd>Love With Me is in Michigan (New Jersey pending). I am providing services Online Only.</dd>

    <dt>Where do I start?</dt>
    <dd>You've been contemplating and preparing to take action to change your behavior. Congratulations! Finding the
      right fit
      with a therapist is the next step towards change. Once you submit your questionnaire online, I can confirm if I
      believe
      we are a good fit or provide you with alternative information and/or referrals.</dd>

    <dt>How does Online Therapy work?</dt>
    <dd>I will send you a secure link for our virtual session. I require that you are not driving and, in a space, where
      you can
      focus and free of distractions.</dd>

    <dt>What can I expect from the first session?</dt>
    <dd>This is where I get a better idea of who you are, review your intake documents and reasons for seeking therapy
      currently. I will answer questions, address concerns, and create a treatment plan with goals that we regularly
      review.</dd>

    <dt>What is Informed Consent?</dt>
    <dd>Informed consent is a documented process of communication between client and therapist. The client is informed
      about the treatment they are receiving and that I have your full agreement to proceed as planned. What is
      discussed during the counseling/therapy sessions between the counselor and the client is confidential unless the
      client exhibits/expresses threatening or harmful behavior toward himself/herself or others and it is determined by
      the counselor that the client is danger to himself/herself or others. In this case, the counselor has a legal and
      moral obligation to contact the proper authorities, the client's family if warranted, and/or the person or persons
      whom the client has threatened, and confidentiality will be broken.
      <br> <br>
      To learn more, read the booklet titled <a
        href="https://www.michigan.gov/documents/mdhhs/RR_Book_English_635711_7.pdf" target="_blank">"Your Rights when
        Receiving Mental Health Services in Michigan"</a> (Michigan Dept. of Community Health) which includes
      information on confidentiality (HIPAA, Health Insurance Portability and Accountability Act).
    </dd>

    <dt>What are your fees?</dt>
    <dd>
      <ul>
        <li>Initial Assessment/Intake $180</li>
        <li>60 Minute Session $175</li>
        <li>Couples Session: $215</li>
      </ul>
    </dd>

    <dt>Do you offer in-person sessions?</dt>
    <dd>I am providing services Online Only.</dd>

    <dt>Do you accept insurance?</dt>
    <dd>I accept Blue Cross Blue Shield (more insurances forthcoming) and will work with your provider to determine
      coverage
      under your specific plan before any treatment is started. Love With Me also accepts cash-pay for individuals
      without
      mental health benefits. You can use your HSA, FSA or standard credit card.</dd>
  </dl>
</div>